:root{
    --primary-color-light-red: hsl(356, 100%, 66%);
    --primary-color-very-light-red: hsl(355, 100%, 74%);
    --primary-color-very-dark-blue: hsl(208, 49%, 24%);

    --neutral-color-white: hsl(0, 0%, 100%);
    --neutral-color-graylish-blue: hsl(240, 2%, 79%);
    --hsla-graylish-blue: hsla(240, 2%, 79%, .2);
    --neutral-color-very-dark-graylish-blue: hsl(207, 13%, 34%);
    --neutral-color-very-dark-black-blue: hsl(240, 10%, 16%);
    
    --gradient-very-light-red: hsl(13, 100%, 72%);
    --gradient-light-red: hsl(353, 100%, 62%);
    --gradient-very-dark-gray-blue: hsl(237, 17%, 21%);
    --gradient-very-dark-desaturated-blue: hsl(237, 23%, 32%);

    --ff-overpass-ss: 'Overpass', sans-serif;
    --ff-ubuntu-ss: 'Ubuntu', sans-serif;

    border: #d4d7da
}


*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.header{
    width: 100%;
    padding-bottom: 5em;
    border-bottom-left-radius: 6em;
    font-family: var(--ff-overpass-ss);
    background: url(assets/images/bg-pattern-intro.svg), linear-gradient(100deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-size: 400%, 100%;
    background-position: 38% 44%;
    background-repeat: no-repeat;
}

.header-items{
    position: relative;
    max-width: 1400px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    margin-top: 3em;
    margin-left: 1.5em;
}

.hamburguer-btn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 3.8em 1em;
    width: 32px;
    height: 18px;
    background: url(assets/images/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: transform .3s ease;
}

.hamburguer-btn.close-icon{
    width: 48px;
    height: 24px;
    background: url(assets/images/icon-close.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
    transition: transform .3s ease;
}

.nav-menu{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 7em 1em;
    padding-top: 1em;
    padding-bottom: 1.5em;
    width: 90%;
    max-width: 338px;
    border-radius: .3em;
    font-family: var(--ff-overpass-ss);
    background-color: #fff;
    box-shadow: 5px 10px 2em rgb(0, 0, 0, .2);
}

.nav-menu.open{
    display: block;
}

.menu-container, .dropdown-container{
    list-style: none;
    padding: 0; 
}

.dropdown-button, .menu-link, .dropdown-link, .header-buttons{
    text-decoration: none;
}

.menu-container{
    text-align: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.menu-dropdown{
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
    cursor: pointer;
}

.dropdown-button, .menu-link{
    color: var(--primary-color-very-dark-blue);
    font-size: 1.2rem;
    font-weight: 600;
}

.dropdown-button::after{
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: .2em;
    background: url(assets/images/icon-arrow-dark.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .2s ease;
}

.menu-dropdown:hover > .dropdown-button{
    color: var(--neutral-color-very-dark-graylish-blue);
    text-decoration: underline;
}

.menu-dropdown:hover > .dropdown-button::after{
    transform: rotate(180deg);
    transition: transform .2s ease;
}

.menu-dropdown:hover .dropdown-container{
    display: block;
    animation: openMenu .5s ease;
}

.dropdown-container{
    display: none;
    padding-top: .7em;
    padding-bottom: .7em;
    margin-top: 1em;
    line-height: 2.4;
    border-radius: .3em;
    background-color: var(--hsla-graylish-blue);
}

.dropdown-link{
    font-weight: 600;
    color: var(--primary-color-very-dark-blue);
}

hr{
    border-color: var(--hsla-graylish-blue);
}

.login-btn-container{
    padding-top: 2em;
    padding-bottom: 2em;
}

.login{
    font-size: 1.5rem;
}

.sign-up{
    padding: .9em 2em;
    font-family: var(--ff-ubuntu-ss);
    color: var(--neutral-color-white);
    border-radius: 2em;
    font-weight: 700;
    background: linear-gradient(to right, var(--gradient-very-light-red), var(--gradient-light-red));
}

.header-content{
    text-align: center;
    color: var(--neutral-color-white);
}

.header-content-title{
    font-size: 2.6rem;
    white-space: pre-line;
}

.header-content-text{
    font-size: 1.3rem;
}

.buttons-container{
    margin-top: 4em;
}

.header-buttons{
    margin-left: .3em;
    margin-right: .3em;
    padding: 1em .8em;
    border-radius: 2em;
    font-family: var(--ff-ubuntu-ss);
    font-weight: 600;
    font-size: 1.2rem;
    color: inherit;
    cursor: pointer;
}   

.header-btn-1{
    color: var(--primary-color-light-red);
    background: var(--neutral-color-white);
}

.header-btn-2{
    border: thin solid var(--neutral-color-white);
}

.header-btn-1:hover{
    color: var(--neutral-color-white);
    background-color: var(--primary-color-very-light-red);
}

.header-btn-2:hover{
    color: var(--primary-color-light-red);
    background-color: var(--neutral-color-white);
}

.container{
    text-align: center;
    font-family: var(--ff-overpass-ss);
}

.introduction-container h2, .info-container h2, .introduction-container h3, .info-container h3{
    color: var(--primary-color-very-dark-blue);
}

.introduction-content{
    padding-top: 10vh;
}

.introduction-title{
    font-size: 1.7rem;
}

.introduction-aside{
    margin-left: auto;
    margin-right: auto;
    inline-size: 290px;
}

.introduction-aside-title{
    font-size: 1.7rem;
    margin-top: 5vh;
}

.introduction-aside-text{
    line-height: 1.6;
    color: var(--neutral-color-very-dark-graylish-blue);
}

.illustration-editor{
    height: 310px;
    margin-left: auto;
    margin-top: 5vh;
    margin-right: auto;
    background: url(assets/images/illustration-editor-mobile.svg);
    background-size:375px;
    background-position: center;
    background-repeat: no-repeat;
}

.infraestructure-container{
    position: relative;
    margin-top: 15em;
    height: 500px;
    border-top-right-radius: 6.5em;
    border-bottom-left-radius: 6.5em;
    background: url(assets/images/bg-pattern-circles.svg);
    background-color: rgba(26, 28, 59, 0.9);
    background-size: 580px;
    background-position: center -250px;
    background-repeat: no-repeat;
    color: var(--neutral-color-white);
}

.illustration-phones{
    position: absolute;
    top: -370px;
    right: 2px;
    width: 100%;
    height: 760px;
    background: url(assets/images/illustration-phones.svg);
    background-size: 350px;
    background-position: center;
    background-repeat: no-repeat;
}

.infraestructure-aside{
    inline-size: 260px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10em;

}

.infraestructure-aside-title{
    font-size: 2rem;
}

.infraestructure-aside-text{
    color: var(--neutral-color-graylish-blue);
    font-size: .9rem;
    line-height: 2;
}

.info-container{
    padding-bottom: 5em;
}

.illustration-laptop{
    height: 380px;
    margin-top: 6vh;
    background: url(assets/images/illustration-laptop-mobile.svg);
    background-size: 510px;
    background-position: center;
    background-repeat: no-repeat;
}

.info-title{
    font-size: 1.7rem;
}

.info-text{
    margin-right: auto; 
    margin-left: auto;  
    inline-size: 290px;
    color: var(--neutral-color-very-dark-graylish-blue);
}

.footer{
    padding-top: 3em;
    border-top-right-radius: 6em;
    text-align: center;
    color: var(--neutral-color-white);
    font-family: var(--ff-ubuntu-ss);
    background-color: var(--neutral-color-very-dark-black-blue);
}

.footer-logo-container{
    padding-top: 2em;
}

.footer-container-list{
    padding: 0;
    padding-top: 1em;
    padding-bottom: 4em;
    list-style: none;
}

.title-list{
    padding-top: 1.5em;
    font-weight: 400;
}

.footer-list-links{
    display: block;
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--neutral-color-graylish-blue);
    line-height: 1.8;
}

.footer-list-links:hover{
    text-decoration: underline;
}

@keyframes openMenu {
  from { 
    transform: scale(1, 0); 
    transform-origin: top; 
    opacity: 0;
    }
  to { 
    transform:scale(1, 1);
    transform-origin: top;
    opacity: 1;
    }
}

@media screen and (min-width: 1024px) {
    .header{
        background-size: 3500px, 100%;
        background-position: 23% 53%;
    }

    .nav-menu{
        all: revert;
        position: absolute;
        top: 0;
        width: 100%;
    }

    hr, .hamburguer-btn{
        display: none;
    }

    
    .menu-container{
        display: grid;
        grid-template-columns: repeat(auto-fill);
        place-items: center;
        gap: 2em;
        font-family: var(--ff-ubuntu-ss); 
    }
    
    .menu-dropdown{
        position: relative;
    }
    
    .dropdown-container{
        position: absolute;
        right: -55px;
        text-align: left;
        padding: 1em 4em 1em 1em;
        background-color: var(--neutral-color-white);

    }

    .menu-dropdown, .menu-item{
        margin-top: .8em;
    }
    
    .dropdown-link{
        font-weight: 400;
    }

    .dropdown-link:hover {text-shadow:0px 0px 1px black;}

    .dropdown-button, .login{
        color: var(--neutral-color-white);
    }

    .dropdown-button:after{
        content: "";
        display: inline-block;
        position: absolute;
        width: 12px;
        height: 12px;
        margin-top: .3em;
        margin-left: .5em;
        background: url(assets/images/icon-arrow-light.svg);
        background-repeat: no-repeat;
        background-position: center;
        transition: transform .2s ease;
    }

    .menu-dropdown:hover > .dropdown-button{
        color: var(--neutral-color-white);
    }
    
    .menu-product{
        grid-column: 3/4;
    }
    
    .menu-company{
        grid-column: 4/5;
    }
    
    .menu-connect{
        grid-column: 5/6;
    }
    
    .login-btn-container{
        grid-column: 12 / 13;
    }
    
    .sign-up-btn-container{
        grid-column: 13 / 14;
    }
    
    .login{
        font-size: 1.2rem;
        color: var(--neutral-color-white);
    }
    
    .sign-up{
        font-size: 1rem;
        padding: 1.2em 2.5em;
        color: var(--primary-color-light-red);
        background: var(--neutral-color-white);
    }

    .sign-up:hover{
        color: var(--neutral-color-white);
        background-color: var(--primary-color-very-light-red);
    }

    .header-content-title{
        font-size: 4.3rem;
    }

    .header-content-text{
        font-size: 1.8rem;
    }

    .header-buttons{
        padding-left: 1.5em;
        padding-right: 1.5em;
        font-size: 1.3rem;
    }

    .introduction-aside{
        position: relative;
        display: grid;
        width: 100%;
        place-items: center;
        text-align: left;
        grid-template-columns: repeat(4, 1fr);
        padding-bottom: 10vh;
    }
    
    .introduction-title{
        font-size: 2.5rem;
    }
    
    .illustration-editor{
        position: absolute;
        grid-column: 3/5;
        grid-row: 1/1;
        width: 100%;
        height: 600px;
        background: url(assets/images/illustration-editor-desktop.svg);
        background-repeat: no-repeat;
        background-position: 100px 0;
        background-size: cover;
    }
    
    .aside-text-container{
        padding-top: 5vh;
        margin-left: 5em;
        grid-column: 1/3;
    }

    .infraestructure-container{
        background-size: 1150px;
        background-position: -250px -590px;
    }

    .introduction-aside-text{
        width: 502px;
    }

    .infraestructure-container{
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2, 1fr);
    }

    .illustration-phones{
        grid-column: 1/2;
        top: -160px;
        background-size: 510px;
    }

    .infraestructure-aside{
        text-align: left;
        height: 100%;
        margin-bottom: 6em;
        width: 570px;
        grid-column: 2/3;
    }

    .info-article{
        display: grid;
        text-align: left;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .illustration-laptop{
        height: 600px;
        background: url(assets/images/illustration-laptop-desktop.svg);
        background-repeat: no-repeat;
        background-size: 500px;
        background-position:center;
    }

    .container-1{
        padding-top: 2em; 
        padding-bottom: 2em}

    .info-title{
        font-size: 2rem;
    }

    
    .info-text{
        width: 500px;
        margin-left: 0;
    }

    .footer{
        display: grid;
        grid-template-columns: 350px 1fr;
        padding-top: 1em;
        padding-bottom: 1.5em;
    }  

    .footer-logo-container{
        margin-top: 2em;
        margin-right: 3em;
    }

    .footer-container-list{ 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: start;
        text-align: left;
    }
}

@media screen and (min-width: 1440px){
    .illustration-editor{
        top: -150px;
        height: 850px;
        background-position: 100px;
    }

    .illustration-phones{
        top: -110px;
        left: 50px;
        background-size: 690px;
    }

    .infraestructure-aside-title{
        font-size: 2.4rem;
    }

    .infraestructure-aside-text{
        font-size: 1.1rem;
    }

    .illustration-laptop{
        height: 900px;
        background: url(assets/images/illustration-laptop-desktop.svg);
        background-repeat: no-repeat;
        background-size: 900px;
        background-position: -260px center;
    }

}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
