:root{
    --primary-color-light-red: hsl(356, 100%, 66%);
    --primary-color-very-light-red: hsl(355, 100%, 74%);
    --primary-color-very-dark-blue: hsl(208, 49%, 24%);

    --neutral-color-white: hsl(0, 0%, 100%);
    --neutral-color-graylish-blue: hsl(240, 2%, 79%);
    --hsla-graylish-blue: hsla(240, 2%, 79%, .2);
    --neutral-color-very-dark-graylish-blue: hsl(207, 13%, 34%);
    --neutral-color-very-dark-black-blue: hsl(240, 10%, 16%);
    
    --gradient-very-light-red: hsl(13, 100%, 72%);
    --gradient-light-red: hsl(353, 100%, 62%);
    --gradient-very-dark-gray-blue: hsl(237, 17%, 21%);
    --gradient-very-dark-desaturated-blue: hsl(237, 23%, 32%);

    --ff-overpass-ss: 'Overpass', sans-serif;
    --ff-ubuntu-ss: 'Ubuntu', sans-serif;
}


*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.header{
    width: 100%;
    height: 650;
    border-bottom-left-radius: 6em;
    font-family: var(--ff-overpass-ss);
    background: url(assets/images/bg-pattern-intro.svg), linear-gradient(130deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-size: 400%, 100%;
    background-position: 38% 44%;
    background-repeat: no-repeat;
}

.header-items{
    position: relative;
    max-width: 1200px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    margin-top: 3em;
    margin-left: 1.5em;
}

.hamburguer-btn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 3.8em 1em;
    width: 32px;
    height: 18px;
    background: url(assets/images/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.hamburguer-btn.close-icon{
    width: 48px;
    height: 24px;
    background: url(assets/images/icon-close.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.nav-menu{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 7em 1em;
    padding-top: 1em;
    padding-bottom: 1.5em;
    width: 90%;
    max-width: 338px;
    border-radius: .3em;
    font-family: var(--ff-overpass-ss);
    background-color: #fff;
    box-shadow: 5px 10px 2em rgb(0, 0, 0, .2);
}

.nav-menu.open{
    display: block;
}

.menu-container, .dropdown-container{
    list-style: none;
    padding: 0; 
}

.dropdown-button, .menu-link, .dropdown-link, .header-buttons{
    text-decoration: none;
}

.menu-container{
    text-align: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.menu-item{
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
}

.dropdown-button, .menu-link{
    color: var(--primary-color-very-dark-blue);
    font-size: 1.2rem;
    font-weight: 600;
}

.input{
    appearance: none;
}

.input::after{
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(assets/images/icon-arrow-dark.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .2s ease;
}

.input:checked::after{
    transform: rotate(180deg);
    transition: transform .2s ease;
}

.input:checked + .dropdown-container{
    display: block;
    animation: openMenu .5s ease;
}

.dropdown-container{
    display: none;
    padding-top: .7em;
    padding-bottom: .7em;
    margin-top: 1em;
    line-height: 2.4;
    border-radius: .3em;
    background-color: var(--hsla-graylish-blue);
}

.dropdown-link{
    font-weight: 600;
    color: var(--primary-color-very-dark-blue);
}

hr{
    border-color: var(--hsla-graylish-blue);
}

.login-btn-container{
    padding-top: 2em;
    padding-bottom: 2em;
}

.login{
    font-size: 1.5rem;
}

.sign-up{
    padding: 1em 3em;
    font-family: var(--ff-ubuntu-ss);
    font-weight: 600;
    color: var(--neutral-color-white);
    border-radius: 2em;
    background: linear-gradient(to right, var(--gradient-very-light-red), var(--gradient-light-red));
}

.header-content{
    text-align: center;
    color: var(--neutral-color-white);
}

.header-content-title{
    font-size: 2.6rem;
    white-space: pre-line;
}

.header-content-text{
    font-size: 1.3rem;
}

.buttons-container{
    margin-top: 4em;
}

.header-buttons{
    margin-left: .3em;
    margin-right: .3em;
    padding: .8em .7em;
    border: thin solid var(--neutral-color-white);
    border-radius: 2em;
    font-family: var(--ff-ubuntu-ss);
    font-weight: 700;
    font-size: 1.2rem;
    color: inherit;
    cursor: pointer;
}   

.btn-1{
    color: var(--primary-color-light-red);
    background: var(--neutral-color-white);
}

@keyframes openMenu {
  from { 
    transform: scale(1, 0); 
    transform-origin: top; 
    opacity: 0;
    }
  to { 
    transform:scale(1, 1);
    transform-origin: top;
    opacity: 1;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
